html {
  height: 100%;
  width: 100%;
  font-family: Oxygen, sans-serif;
  font-size: 7mm;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}


body {
  margin: 0vw;
  padding: 0vw;
  background-image: url("mybg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #646464;
  background-blend-mode: multiply;
}

p {
  margin: 3vw;
}

h1 {
  font-size: 10mm;
  margin: 0vw;
  background-color: #316357;
  color: white;
  padding: 2vw;
  font-weight: 500;
  width: auto;
}

h2 {
  font-weight: 400;
}


@media (min-width: 800px) {
  .flex-parent-element {
    display: flex;
  }
}

.flex-parent-element {
  display: fixed;
  width: 100%;
  background-color: transparent;
  padding: 2vw;
}

.flex-child-element {
  flex: 1;
  margin: 2vw;
  padding: 2vw;
  background-color: #ffffff;
  height: fit-content;
  border-radius: 20px;
}

.flex-child-element:first-child {
  margin-right: 2vw;
}



footer {
  background-color: #316357;
  color: white;
  padding: 4vw;
}




span {
  opacity: 0;

}


@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
